
/* public */

@font-face {
    font-family: 'Regular';
    src: url('/vendor/fonts/hana.ttf');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Regular;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.hidden{
    display: none;
}
.visib{
    display: visible;
}
/* custom scrollbar */

body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
body::-webkit-scrollbar-track {
    margin-block: 0.1em;
  }
  
body::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 100vw;
  }
  
body::-webkit-scrollbar-thumb:hover {
    background:#4384f6;
  }

:root{
    --red:#ee4038;
    --green:#34a855;
    --yellow:#fbbd06;
    --blue:#4384f6;
    --white:#fff;
}

.container{
    width:80%
}

::selection{
    background-color: transparent;
    color:var(--blue);
}

/* Start Loader Screen */
.loader{
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
    background-color: var(--white);
}
.loader2 {
    width: 100px;
    height: 100px;
  }
  
  .loader2 .load {
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }
  
  .loader2 .load-outer {
    border-top-color: var(--blue);
    border-bottom-color: var(--red);
  }
  
  .loader2 .load-inner {
    border-top-color: var(--green);
    border-bottom-color: var(--yellow);
    animation-duration: 4s;
  }
  
  @keyframes rotate {
    0% {
      transform: scale(1) rotate(360deg);
    }
    50% {
      transform: scale(0.5) rotate(-360deg);
    }
  }

/* Start Fixed Social Media Icons */
.social_fixed{
    z-index:-1;
    bottom:5%;
    right:1%;
    z-index: 9999;
}
.social_fixed .social_link a{
    transition: all 0.5s;  
}
.social_fixed .social_link a i{
    display: block;
}

.social_fixed .social_link:nth-child(1) a{
    background-color: var(--white);
    border-color:var(--blue) !important;
    color:var(--blue) !important;
}
.social_fixed .social_link:nth-child(2) a{
    background-color: var(--white);
    border-color:var(--red) !important;
    color:var(--red) !important;
    
}
.social_fixed .social_link:nth-child(3) a{
    background-color: var(--white);
    border-color:var(--yellow) !important;
    color:var(--yellow) !important;
    
}
.social_fixed .social_link:nth-child(4) a{
    background-color: var(--white);
    border-color:var(--green) !important;
    color:var(--green) !important;
    
}

.social_fixed .social_link:nth-child(1) a:hover{
    background-color: var(--blue);
    color:white !important;
    transform: rotate(360deg);
}
.social_fixed .social_link:nth-child(2) a:hover{
    background-color: var(--red);
    color:white !important;
    transform: rotate(360deg);
}
.social_fixed .social_link:nth-child(3) a:hover{
    background-color: var(--yellow);
    color:white !important;
    transform: rotate(360deg);
}
.social_fixed .social_link:nth-child(4) a:hover{
    background-color: var(--green);
    color:white !important;
    transform: rotate(360deg);
}
/* End Fixed Social Media Icons */

/* Start Nav */
.navbar{
    background-color: transparent !important;
}
.navbar .container .navbar-brand img{
    transition:all 0.25s;
    transform: scale(1.05);
}
.navbar .container .navbar-brand:hover img{
    transform: scale(0.95);
}

.navbar-expand-lg{
    position: fixed !important;
    z-index: 10;
    right:0;
    left:0;
    background-color: white;
    padding:0;
}
nav button{
    transition: all 1s;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row-reverse;
}
nav button:hover{
    border: 1px solid !important;
    border-bottom-color: var(--red) !important;
    border-top-color: var(--blue) !important;
    border-right-color: var(--green) !important;
    border-left-color: var(--yellow) !important;
}
nav .nav-item{
    border-bottom:2px solid transparent;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}
nav .nav-item::after{
    content:'';
    position: absolute;
    background-color:var(--blue);
    bottom:0;
    left:0;
    right:0;
    height: 3px;
    transform: scaleX(0);
    transition: all 0.7s;
    z-index:11;
}
nav .nav-item:hover::after{
    transform: scaleX(1);
}
nav .nav-item:hover > a{
    color:var(--blue) !important;
}
nav .active > a{
    color:var(--blue) !important;
}
nav .active::after{
    transform: scaleX(1);
}
nav .navbar-brand img{
    width:100px;
}
/* End Nav */


/* start Activities section */
.activities{
    background-color: #fbfbfd !important;
    overflow: hidden;
    /* height: 100vh; */
    position: relative;
    top: 80px;
    z-index:1;
    margin-bottom: 100px;

}
.activities .a1{
    margin-right: 30px;
    background-color: #f4f7ff;
    padding: 5px 5px;
    border-radius: 8%;
    padding: 10px 10px; 
    font-size: 20px;
    transition: all 0.5s;
 }
 
.activities .a1:hover{
    transform:scaleY(1.02);
    background-color: #4384f6;
    color: white;
    font-size:21px ;

} 
.activities h1{
    color:#4384f6;
    padding-top: 80px;
}
.activities .date1{
    
    margin-bottom: 4px;
    color: #5e5f79;
    font-size: 14px;
    line-height: 1.429em;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: all 0.7s;
    
}

.activities .date2{
    
    margin-bottom: 4px;
    color: #5e5f79;
    font-size: 14px;
    line-height: 1.429em;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: all 0.7s;

}
.activities .date1:hover{
    background-color: #eaeaed;
    border-radius: 5%;
    cursor: pointer;
    transform: scale(1.02);
}
.activities .date1:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0px;
    border-bottom: 4px solid #4384f6;
    border-radius: 5%;
}

.activities .date2:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0px;
    border-bottom: 4px solid #4384f6;
    border-radius: 5%;
}
.activities .date1 h2{
    color:#4384f6;
}

.activities .date2:hover{
    background-color: #eaeaed;
    border-radius: 5%;
    cursor: pointer;
    transform: scale(1.02);
}

.activities .date2 h2{
    color:#4384f6;
}
.activities .line {
    position: relative;
}
.activities .line::after{
    content: '';
    position: absolute;
    /* display: inline-block; */
    /* top: 20px; */
    width: 100%;
    right: 0;
    bottom: -10px;
    border-bottom: 2px solid #e6e7f3;
}
.activities .item{
    background-color: white;
    border-radius: 6%;
    box-shadow: 0 8px 30px 0 rgb(50 53 130 / 8%) !important;
    box-shadow: inset;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    background-color: white;
    transition: all 2s;
    /* display: none; */
}
.activities .item2{
    background-color: white;
    border-radius: 6%;
    box-shadow: 0 8px 30px 0 rgb(50 53 130 / 8%) !important;
    box-shadow: inset;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    background-color: white;
    transition: all 2s;
    /* display: none; */
    
}
.activities .item:hover h2{
    color: #4384f6;

}
.activities .item2:hover h2{
    color: #4384f6;

}
.activities .item:hover{
    transform: scale(0.97);
    cursor: pointer;
    /* height: 100%; */
}
.activities .item2:hover{
    transform: scale(0.97);
    cursor: pointer;
}
.activities .item  .h2 h2{
    text-align: justify; 
    padding-top: 15px; 
    font-size: 24px;
    padding-right: 15px;
    transition: all 1s;
    width: 100%;
}

.activities .item2  .h2 h2{
    text-align: justify; 
    padding-top: 15px; 
    font-size: 24px;
    padding-right: 15px;
    transition: 1s;
}
.activities .item p{
    color: #5e5f79;
    font-size: 16px;
    font-weight: 200;
    padding-right: 15px;
    padding-left: 10px;
    /* text-align: center; */
    text-align: justify;
}
.activities .item2 p{
    color: #5e5f79;
    font-size: 16px;
    font-weight: 200;
    padding-right: 15px;
    padding-left: 10px;
    text-align: justify;
}
.activities .item .time{
    font-size:25px ;
    color: black;
}
.activities .item2 .time{
    font-size:25px ;
    color: black;
}
.activities .item i{
    color: #4384f6;
    font-size: 25px;
    padding-right: 15px;
}

.activities .item2 i{
    color: #4384f6;
    font-size: 25px;
    padding-right: 15px;
}
/* end Activities section */


/* start book now section */
.book{
    position: relative;
   overflow: hidden;
   background-color: white;
   width: 100%;
   height: 100%;
   height: inherit;
   z-index:3;
}

.book .background .content{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color:#4384f6 !important;
}
.book .content h4{
   font-weight:400;
   font-size: 25px;
}
.book .content p{
    font-size: 40px;
    font-weight: 600;
}
.book .content button{
    font-size: 20px;
    font-weight: 400;
   color:#4384f6;
   border-color:#4384f6;
   background-color: white;
   transition: all 2s;
}
.book .content button:hover{
    cursor: pointer;
    color: #4384f6;
    border-color: #4384f6;
    transform: scale(1.05);
}
@keyframes animate{
    0%{
       
       transform: translateY(0) rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: translateY(-1000px) rotate(760deg);
    }
}

.book .background img{
    opacity: 1;
    z-index:-1;
    transform: scale(1.1);
}
.book .background .red{
    width:5%;
    bottom:-100px;
    right:400px;
    animation: animate 11s ease-in-out infinite;
    animation-delay:15s;   
}
.book .background .blue{
    width:5%;
    bottom:-100px;
    left:300px;
    animation: animate 11s ease-in-out infinite;
    animation-delay:18s;
    
}
.book .background .yellow{
    width:6%;
    bottom:-120px;
    left:30px;
    animation: animate 12s ease-in-out infinite;
    animation-delay:18s;  
}
.book .background .green{
    width:7%;
    bottom:-130px;
    right:80px;
    animation: animate 18s ease-in-out infinite;
    animation-delay:10s;
}

.book .background .red1{
    width:3%;
    bottom:-100px;
    right:300px;
    animation: animate 10s linear infinite;
    animation-delay: 8s; 
}
.book .background .blue1{
    width:3%;
    bottom:-100px;
    left:400px;
    animation: animate 10s linear infinite;
    animation-delay: 10s;  
}
.book .background .yellow1{
    width:3%;
    bottom:-100px;
    left:600px;
    animation: animate 9s linear infinite;
    animation-delay: 12s; 
}
.book .background .green1{
    width:3%;
    bottom:-100px;
    right:600px;
    animation: animate 8s linear infinite;
    animation-delay: 14s;  
}
/* end book now section */

/* footer */
.footer { 
    display: block;
    background-color: rgb(59, 113, 202);
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M100 100 V 90 L 90 100 Z' fill='white' fill-opacity='0.045'></path><path d='M100 90 V 80 L 90 90 Z' fill='white' fill-opacity='0.015'></path><path d='M90 100 V 90 L 80 100 Z' fill='white' fill-opacity='0.03'></path><path d='M90 100 V 90 H 100 Z' fill='white' fill-opacity='0.06'></path></svg>");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto; 
    padding: 50px; 
}
.third-block-p{
    text-align: justify;
}
.footer p,.footer h4,.footer span {
    color: white;
}
.footer .icon1{
    color: var(--yellow);
}
.footer .icon2{
    color: var(--red);
}
.footer .icon3{
    color: var(--green);
}

.copyright-footer {
    background-color: rgba(59, 114, 202, 0.842);
}
.copyright-box{
    display: flex;
    justify-content: space-around;
}
