.complete-purchase{
    padding-top:79px;
}


/* cards complete purchase  */

.left-side {
    width: 43%;
}

.purchase-container {
    display: flex;
    justify-content: center;
}
.right-side{
    width: 50%;
    height: 470px;
    background-color: white;
    padding: 50px 32px;
    box-shadow: 0 8px 30px 0 rgba(50, 53, 130, 0.08);
    border-radius: 24px;
}



.right-side h2{
    border-bottom: 1px solid #5e5f79;
    padding-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.calculatePrice{
    display: flex;
    gap: 20px;
}


.date{
    display: flex;
    justify-content: flex-start;
    margin: 14px 0;
    gap: 20px;
    
}
.start-date,.end-date{
    display: flex;
    flex-direction: column;
}

.age-form {
    margin-top: 12px;
}

input[type=date]{
    padding: 8px 12px;
}

.right-side-button {
    display: flex;
    justify-content: center;
}
@media screen and (min-width:576px) and (max-width:991px){
    .left-side {
        width: 100%;
    }
   .right-side{
    width: 100%;
    margin-top: 12px;
   }
}
@media screen and (max-width:575px){
    .left-side {
        width: 100%;
    }
   .right-side{
    width: 100%;
    margin-top: 12px;
   }
   .quanbox input{
    margin-top: -5px;
   }
}
/* end of cards purchase */

